// Font
$font-family: Avenir, Helvetica, Arial, sans-serif;

// Font Weight
$bold: 600;

// Colors
$slate: rgb(34,56,75);
$orange: rgb(255, 142, 48);
$orange-hover: rgb(204, 113, 38);
$white: rgb(255, 255, 255);
$off-white: rgb(200, 200, 200);

// Breakpoints
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;